In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa import arima

In [4]:
data = pd.read_csv('df_merged_weekly_all.csv', index_col=0)
data['date'] = pd.to_datetime(data['date'])
data.reset_index(inplace=True)
data

,level_0,index,week,date,cases,temperature,pressure,humidity,precipitation
0,0,0,2016-1,2016-01-10,19.0,303.437143,1012.285714,71.428571,1.02
1,1,1,2016-2,2016-01-17,23.0,303.908571,1012.857143,65.571429,0.00
2,2,2,2016-3,2016-01-24,31.0,302.251429,1014.428571,76.857143,32.85
3,3,3,2016-4,2016-01-31,26.0,302.778571,1011.142857,75.142857,17.05
4,4,4,2016-5,2016-02-07,10.0,303.285714,1012.428571,70.571429,3.70
...,...,...,...,...,...,...,...,...,...
393,393,135,2024-32,2024-08-05,226.0,302.210000,1009.000000,75.000000,8.78
394,394,136,2024-33,2024-08-12,205.0,303.050000,1007.000000,70.000000,4.91
395,395,137,2024-34,2024-08-19,209.0,303.620000,1009.000000,67.000000,11.63
396,396,138,2024-35,2024-08-26,162.0,302.490000,1008.000000,73.000000,10.55
397,397,139,2024-36,2024-09-02,103.0,301.380000,1009.000000,83.000000,9.78